@import "tailwindcss";

.cont {
  background-image: url("./assets/val.png");
  background-size: cover;
  background-position: center;
}

* {
  font-family: "Quicksand", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

::selection {
  background-color: #f43f5e;
  color: #fff;
}

.cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
}
